body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/885668867907661876/1136472928087715970/8351171.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.typewriter {
    font-size: 20px;
    white-space: pre-line;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: Arial, sans-serif;
    
}

.video-box {
    text-align: center;
    margin-top: 10px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

button {
    margin-top: 20px;
    background-color: #8dccff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    position: sticky; 
    bottom: 10px; 
    margin: 20px; 
}

button:hover {
    background-color: #3729b9;
}

/* Adicione o seguinte estilo para centralizar o vídeo */
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
